.piece {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 75, 200);
    filter: drop-shadow(0 0 0.2rem black);
    border-radius: 50%;
    margin-right: 2px;
    margin-bottom: 2px;
}

.stackX {
    background-color: rgb(50, 50, 255)
}

.stackO {
    background-color: rgb(255, 50, 50);
}

#size-1 {
    height: 35px;
    width: 35px;
    font-size: 1.5rem;
}

#size-2 {
    height: 45px;
    width: 45px;
    font-size: 1.75rem;
}

#size-3 {
    height: 55px;
    width: 55px;
    font-size: 2rem;
}

#size-5 {
    height: 75px;
    width: 75px;
    font-size: 2.5rem;
}