.square {
    color: white;
    float: left;
    height: 80px;
    width: 80px;
    border: none;
    padding: 0;
    font-size: 3rem;
}

.X {
    background-color: rgb(50, 50, 255);
}

.O {
    background-color: rgb(255, 50, 50);
}

#cell-1, #cell-4, #cell-7 {
    border-left: solid 3px black;
    border-right: solid 3px black;
}

#cell-3, #cell-4, #cell-5 {
    border-top: solid 3px black;
    border-bottom: solid 3px black
}

#cell-0 {
    border-radius: 10px 0 0 0;
}

#cell-2 {
    border-radius: 0 10px 0 0;
}

#cell-6 {
    border-radius: 0 0 0 10px;
}

#cell-8 {
    border-radius: 0 0 10px 0;
}