.reset {
    border: none;
    border-radius: 5px;
    margin-bottom: 150px;
    width: 100px;
    font-size: 1.4rem;
    color: black;
}

.reset:active {
    background-color: rgb(202, 202, 202);
}

